<p>This simple weather forecast web application was made using Angular 7 to satisfy a challenge I took.</p>
<p>UI/UX was only taken into account to mimic how a user would normally want to interact with a web app.</p>

<h2>Features</h2>

<h3>Current Temperature</h3>
<p>This page fetches and displays the current temperature at the user's current location.</p>
<p>See <a href="https://www.openweathermap.org/current">https://www.openweathermap.org/current</a> for relevant documentation</p>

<h3>Five Day Forecast</h3>
<p>This page fetches and displays the 5-day forecast for the user's current location. All of the 3-hourly forecasts within this 5-day period are displayed.</p>
<p>Each 3-hourly forecast will be displayed in its own row on a list. And, each row will display the forecast's date and time, the temperature in Fahrenheit, and the OpenWeatherMap icon that represents the forecast weather conditions.</p>
<p>See <a href="https://www.openweathermap.org/forecast5">https://www.openweathermap.org/forecast5</a> and <a href="https://openweathermap.org/weather-conditions">https://openweathermap.org/weather-conditions</a> for relevant documentation</p>

<h2>Navigation</h2>
<p>Angular's Routing Module is used to navigate between pages.</p>